#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 99%;
}

.cb-slideshow-text-container {
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.tm-content {
    margin-left: 10%;
    z-index: 1001;
}

.h2-text-color {
    width: 500px;
    color: #5d2dc6 !important;
    text-shadow: 0 0 8px rgba(255,215,0,0.8);
}

/* Animation */
.cb-slideshow,
.cb-slideshow:after {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 0;
}

.cb-slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 72s linear infinite 0s;
    -moz-animation: imageAnimation 72s linear infinite 0s;
    -o-animation: imageAnimation 72s linear infinite 0s;
    -ms-animation: imageAnimation 72s linear infinite 0s;
    animation: imageAnimation 72s linear infinite 0s;

}


.cb-slideshow li:nth-child(1) {
    background-image: url(../img/meditation.jpg)
}
.cb-slideshow li:nth-child(2) {
    background-image: url(../img/espiritualidad-humana.webp);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(3) {
    background-image: url(../img/chakras.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(4) {
    background-image: url(../img/imagen-para-reiki-usui.png);
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(5) {
    background-image: url(../img/chakras2.jpg);
    animation-delay: 48s;
}
.cb-slideshow li:nth-child(6) {
    background-image: url(../img/reiki.jpeg);
    animation-delay: 60s;
}

.img-perfil {
    border-radius: 50%;
    border: 3px solid #5d2dc6;
    box-shadow: 0 0 20px rgba(255,215,0,0.8);
    width: 384px;
    height: 384px;
    object-fit: cover;
    margin-bottom: 20px;
}


@keyframes imageAnimation {
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.15);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.20);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.40);
	}
	100% { opacity: 0 }
}


@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
	.tm-content {
		margin-top: 80px;
	}
}

@media screen and (max-width: 576px) {
    .img-perfil {
        width: 200px;
        height: 200px;
    }

    .cb-slideshow li div h3 { font-size: 80px }

	.tm-btn-subscribe {
		margin-top: 20px;
	}
}
